@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import 'tailwindcss';
@import 'datatables.net-dt/css/dataTables.dataTables.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@utility no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;  /* Chrome, Safari and Opera */
    }
}

@theme {
    --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif;

    --font-fredoka: 'Fredoka', ui-sans-serif, system-ui, sans-serif;

    --color-yum-primary: #2A73FF;
    --color-yum-dark: #1E40AF;
    --color-yum-yellow: #FFF402; 
    --color-yum-action: #F59E0B; 

}
